<br><br><br><br><h2>Welcome to Hotel Bookings</h2><br><br>
<p>
<% if !admin_signed_in? && !customer_signed_in? &&  !support_agent_signed_in? %>
<%= link_to 'Customer login', new_customer_session_path, class: "btn btn-info btn-lg" %>
<%= link_to 'Support Agent login', new_support_agent_session_path, class: "btn btn-info btn-lg" %>
<%= link_to 'Admin Login', new_admin_session_path, class: "btn btn-info btn-lg" %></p>
<% end %>



